.adminAddBook-page {
  padding: 30px;
}

/* GRID FORM (2 kolom desktop) */
.adminAddBook-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

/* FULL WIDTH ITEM */
.adminAddBook-form textarea,
.adminAddBook-form button {
  grid-column: span 2;
}

.adminAddBook-form input,
.adminAddBook-form select,
.adminAddBook-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* TEXTAREA */
.adminAddBook-form textarea {
  min-height: 120px;
  resize: none;
}

/* BUTTON */
.adminAddBook-form button {
  background: linear-gradient(135deg,#2563eb,#1d4ed8);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.adminAddBook-form button:active {
  transform: scale(0.96);
}

/* PREVIEW */
.adminAddBook-preview {
  width: 120px;
  border-radius: 10px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .adminAddBook-form{
    grid-template-columns:1fr;
  }
}