/* =========================
NAVBAR
========================= */

.navbar{
width:100%;
background:white;
border-bottom:1px solid #eee;
}

.nav-container{
max-width:1300px;
margin:auto;
padding:10px 20px;

display:flex;
align-items:center;
justify-content:space-between;
gap:20px;
}

/* LEFT */

.nav-left{
display:flex;
align-items:center;
gap:12px;
}

.logo{
font-size:20px;
font-weight:700;
color:#2563eb;
text-decoration:none;
}

.kategori-btn{
background:#f3f4f6;
padding:6px 12px;
border-radius:8px;
text-decoration:none;
color:#333;
font-size:13px;
}

/* SEARCH */

.nav-search{
flex:1;
max-width:400px;
}

.nav-search input{
width:100%;
padding:8px 12px;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}

/* RIGHT */

.nav-right{
display:flex;
align-items:center;
gap:20px;
}

.nav-right a{
text-decoration:none;
color:#333;
font-size:14px;
}

.nav-right a:hover{
color:#2563eb;
}

/* LOGIN */

.login-btn{
background:linear-gradient(135deg,#2563eb,#0ea5e9);
color:white !important;
padding:6px 16px;
border-radius:999px;
}